<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layout/layout}">
<!--Head -->
<head th:replace="layout/layout :: head"></head>
<!--End of Head -->
<body class="g-sidenav-show   bg-gray-100">
<div class="position-absolute w-100 min-height-300 top-0"  style="background-image: url(../assets/img/inventario.webp); background-position-y: 50%;">
  <span class="mask bg-primary opacity-6"></span>
</div>

<!--Sidebar -->
<aside th:replace="layout/layout :: aside"></aside>
<!--End of Sidebar -->

<main class="main-content position-relative border-radius-lg ">
  <!-- Navbar -->
  <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur" data-scroll="false">
    <div class="container-fluid py-1 px-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
          <li class="breadcrumb-item text-sm"><a class="opacity-5 text-white" href="javascript:;">Pages</a></li>
          <li class="breadcrumb-item text-sm text-white active" aria-current="page">Dashboard</li>
        </ol>
        <h6 class="font-weight-bolder text-white mb-0">Dashboard</h6>
      </nav>
      <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
        <div class="ms-md-auto pe-md-3 d-flex align-items-center"></div>
        <ul class="navbar-nav  justify-content-end">
          <li class="nav-item d-flex align-items-center">
            <a th:href="@{/usuario/perfil}"  class="nav-link text-white font-weight-bold px-0">
              <i class="fa fa-user me-sm-1"></i>
              <span class="d-sm-inline d-none">Mi Perfil</span>
            </a>
          </li>
          <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
            <a href="javascript:;" class="nav-link text-white p-0" id="iconNavbarSidenav">
              <div class="sidenav-toggler-inner">
                <i class="sidenav-toggler-line bg-white"></i>
                <i class="sidenav-toggler-line bg-white"></i>
                <i class="sidenav-toggler-line bg-white"></i>
              </div>
            </a>
          </li>
          <li class="nav-item px-3 d-flex align-items-center">
            <a href="javascript:;" class="nav-link text-white p-0">
              <i class="fa fa-cog fixed-plugin-button-nav cursor-pointer"></i>
            </a>
          </li>
          <li class="nav-item d-flex align-items-center">
            <a class="btn btn-outline-info btn-sm mb-0 me-3" target="_blank" th:href="@{/logout}">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->

  <div class="container-fluid py-4">
    <div th:replace="layout/mensajes :: mensajes"></div>
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header pb-0">
            <div class="d-lg-flex">
              <div>
                <h5 class="mb-0">Productos</h5>
                <p class="text-sm mb-0">
                  Elementos que el centro dispone para brindar sus servicios de la mejor manera.
                </p>
              </div>
              <div class="ms-auto my-auto mt-lg-0 mt-4">
                <div class="ms-auto my-auto">
                  <a th:href="@{/producto/form}" class="btn bg-gradient-primary btn-sm mb-0" >+&nbsp; Nuevo Producto</a>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Producto</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Categoria</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Precio</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Cantidad</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Estado</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each ="producto: ${productos}">
                  <td>
                    <div class="d-flex px-2">
                      <div>
                        <img th:if="${producto.imagen==null}" th:src="@{/assets/img/default-avatar.png}" class="avatar avatar-sm rounded-circle me-2" alt="xd">
                        <img th:if="${producto.imagen!=null}" th:src="@{'/usuario/uploads/'+${producto.imagen}}" th:alt="${producto.imagen}" class="avatar avatar-sm rounded-circle me-2" alt="xd">
                      </div>
                      <div class="my-auto">
                        <h6 class="mb-0 text-sm" th:text="${producto.nombre}"></h6>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="text-xs font-weight-bold mb-0" th:text="${producto.categoria.nombre}"></p>
                  </td>
                  <td class="align-middle text-center text-sm">
                    <span class="text-secondary text-xs font-weight-bold" th:text="${producto.precio}"></span>
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold"th:text="${producto.stock}">0</span>
                  </td>
                  <td class="align-middle text-center text-sm">
                    <span th:if="${producto.stock==0}" class="badge badge-sm bg-gradient-danger">Sin Stock</span>
                    <span th:if="${producto.stock<=10 && producto.stock>0}" class="badge badge-sm bg-gradient-warning">Stock Bajo</span>
                    <span th:if="${producto.stock>10}" class="badge badge-sm bg-gradient-success">Con Stock</span>
                  </td>
                  <td class="align-middle text-center text-sm">
                    <a th:href="@{/producto/ver/} + ${producto.id}" data-bs-toggle="tooltip" data-bs-original-title="Preview product">
                      <i class="fas fa-eye text-secondary" aria-hidden="true"></i>
                    </a>
                    <a th:href="@{/producto/form/} + ${producto.id}" class="mx-3" data-bs-toggle="tooltip" data-bs-original-title="Edit product">
                      <i class="fas fa-user-edit text-secondary" aria-hidden="true"></i>
                    </a>
                    <a th:href="@{/producto/eliminar/} + ${producto.id}" onclick="return confirm('Estás seguro que quieres eliminar?');" data-bs-toggle="tooltip" data-bs-original-title="Delete product">
                      <i class="fas fa-trash text-secondary" aria-hidden="true"></i>
                    </a>
                  </td>
                </tr>
                </tbody>
              </table>
              <br>
              <!--<div class="row justify-content-center dataTable-bottom">
                  <div class="col text-center">
                      <nav th:replace="layout/paginator-nav :: paginator"></nav>
                  </div>
              </div>-->
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer th:replace="layout/layout :: footer"></footer>
    <!-- End Footer -->
  </div>
</main>

<th:block th:replace="layout/layout :: scripts">

</th:block>
<th:block layout:fragment="page-scripts">
</th:block>
</body>

</html>