<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layout/layout}">
<!--Head -->
<head th:replace="layout/layout :: head"></head>
<!--End of Head -->
<body class="g-sidenav-show   bg-gray-100">
<div class="position-absolute w-100 min-height-300 top-0"  style="background-image: url(../assets/img/inventario.webp); background-position-y: 50%;">
  <span class="mask bg-primary opacity-6"></span>
</div>

<!--Sidebar -->
<aside th:replace="layout/layout :: aside"></aside>
<!--End of Sidebar -->

<main class="main-content position-relative border-radius-lg ">
  <!-- Navbar -->
  <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur" data-scroll="false">
    <div class="container-fluid py-1 px-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
          <li class="breadcrumb-item text-sm"><a class="opacity-5 text-white" href="javascript:;">Pages</a></li>
          <li class="breadcrumb-item text-sm text-white active" aria-current="page">Dashboard</li>
        </ol>
        <h6 class="font-weight-bolder text-white mb-0">Dashboard</h6>
      </nav>
      <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
        <div class="ms-md-auto pe-md-3 d-flex align-items-center"></div>
        <ul class="navbar-nav  justify-content-end">
          <li class="nav-item d-flex align-items-center">
            <a th:href="@{/usuario/perfil}"  class="nav-link text-white font-weight-bold px-0">
              <i class="fa fa-user me-sm-1"></i>
              <span class="d-sm-inline d-none">Mi Perfil</span>
            </a>
          </li>
          <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
            <a href="javascript:;" class="nav-link text-white p-0" id="iconNavbarSidenav">
              <div class="sidenav-toggler-inner">
                <i class="sidenav-toggler-line bg-white"></i>
                <i class="sidenav-toggler-line bg-white"></i>
                <i class="sidenav-toggler-line bg-white"></i>
              </div>
            </a>
          </li>
          <li class="nav-item px-3 d-flex align-items-center">
            <a href="javascript:;" class="nav-link text-white p-0">
              <i class="fa fa-cog fixed-plugin-button-nav cursor-pointer"></i>
            </a>
          </li>
          <li class="nav-item d-flex align-items-center">
            <a class="btn btn-outline-info btn-sm mb-0 me-3" target="_blank" th:href="@{/logout}">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->

  <div class="container-fluid py-4">
    <div th:replace="layout/mensajes :: mensajes"></div>
    <div class="row">
      <div class="col-md-12">
        <div class="card " th:object="${producto}">
          <div class="card-body">
            <h5 class="mb-4">Detalle de Producto</h5>
            <div class="row">
              <div class="col-xl-5 col-lg-6 text-center">
                <img th:if="${producto.imagen==null}" th:src="@{/assets/img/default-avatar.png}" class="w-100 border-radius-lg shadow-lg mx-auto" alt="chair">
                <img th:if="${producto.imagen!=null}" th:src="@{'/usuario/uploads/'+${producto.imagen}}" th:alt="${producto.imagen}" class="w-100 border-radius-lg shadow-lg mx-auto" alt="chair">

                <div class="my-gallery d-flex mt-4 pt-2" itemscope="" itemtype="http://schema.org/ImageGallery" data-pswp-uid="1">
                </div>
              </div>
              <div class="col-lg-5 mx-auto">
                <h3 class="mt-lg-0 mt-4" th:text="${producto.nombre}"></h3>
                <div class="rating">
                  <i class="fas fa-star" aria-hidden="true"></i>
                  <i class="fas fa-star" aria-hidden="true"></i>
                  <i class="fas fa-star" aria-hidden="true"></i>
                  <i class="fas fa-star" aria-hidden="true"></i>
                  <i class="fas fa-star-half-alt" aria-hidden="true"></i>
                </div>
                <br>
                <h6 class="mb-0 mt-3">Price</h6>
                <h5 th:text="${'S/. '+ producto.precio}"></h5>
                <span th:if="${producto.stock==0}" class="badge bg-danger">Sin Stock</span>
                <span th:if="${producto.stock<=10 && producto.stock>0}" class="badge bg-warning">Stock Bajo</span>
                <span th:if="${producto.stock>10}" class="badge bg-success">Con Stock</span>
                <br>
                <label class="mt-4">Descripción :</label>
                <ul>
                  <li th:text="${producto.descripcion}"></li>
                </ul>
                <br>
                <a th:href="@{'/producto/listar'}" class="btn btn-danger">Regresar</a>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <footer th:replace="layout/layout :: footer"></footer>
    <!-- End Footer -->
  </div>
</main>

<th:block th:replace="layout/layout :: scripts">
</th:block>
<th:block layout:fragment="page-scripts">
  <script th:replace="usuarios/js/autocomplete-pd :: javascript"></script>
</th:block>
</body>

</html>
