<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layout/layout}">
<!--Head -->
<head th:replace="layout/layout :: head"></head>
<!--End of Head -->
<body class="g-sidenav-show   bg-gray-100">
<div class="position-absolute w-100 min-height-300 top-0"  style="background-image: url(../assets/img/inventario.webp); background-position-y: 50%;">
  <span class="mask bg-primary opacity-6"></span>
</div>

<!--Sidebar -->
<aside th:replace="layout/layout :: aside"></aside>
<!--End of Sidebar -->

<main class="main-content position-relative border-radius-lg ">
  <!-- Navbar -->
  <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur" data-scroll="false">
    <div class="container-fluid py-1 px-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
          <li class="breadcrumb-item text-sm"><a class="opacity-5 text-white" href="javascript:;">Pages</a></li>
          <li class="breadcrumb-item text-sm text-white active" aria-current="page">Dashboard</li>
        </ol>
        <h6 class="font-weight-bolder text-white mb-0">Dashboard</h6>
      </nav>
      <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
        <div class="ms-md-auto pe-md-3 d-flex align-items-center"></div>
        <ul class="navbar-nav  justify-content-end">
          <li class="nav-item d-flex align-items-center">
            <a th:href="@{/usuario/perfil}"  class="nav-link text-white font-weight-bold px-0">
              <i class="fa fa-user me-sm-1"></i>
              <span class="d-sm-inline d-none">Mi Perfil</span>
            </a>
          </li>
          <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
            <a href="javascript:;" class="nav-link text-white p-0" id="iconNavbarSidenav">
              <div class="sidenav-toggler-inner">
                <i class="sidenav-toggler-line bg-white"></i>
                <i class="sidenav-toggler-line bg-white"></i>
                <i class="sidenav-toggler-line bg-white"></i>
              </div>
            </a>
          </li>
          <li class="nav-item px-3 d-flex align-items-center">
            <a href="javascript:;" class="nav-link text-white p-0">
              <i class="fa fa-cog fixed-plugin-button-nav cursor-pointer"></i>
            </a>
          </li>
          <li class="nav-item d-flex align-items-center">
            <a class="btn btn-outline-info btn-sm mb-0 me-3" target="_blank" th:href="@{/logout}">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->

  <div class="card shadow-lg mx-4 card-profile-bottom">
    <div class="card-body p-3">
      <div class="row gx-4">
        <div class="col-auto">
          <div class="avatar avatar-xl position-relative">
            <img th:if="${ordenCompra.proveedor.logo==null}" th:src="@{/assets/img/a.jpg}" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
            <img th:if="${ordenCompra.proveedor.logo!=null}" th:src="@{'/proveedor/uploads/'+${ordenCompra.proveedor.logo}}" th:alt="${ordenCompra.proveedor.logo}" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
          </div>
        </div>
        <div class="col-auto my-auto">
          <div class="h-100">
            <h5 class="mb-1" th:text="${'Proveedor : ' + ordenCompra.proveedor.nombre}">
            </h5>
            <p class="mb-0 font-weight-bold text-sm" th:text="${ordenCompra.proveedor.email}">
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid py-4">
    <div th:replace="layout/mensajes :: mensajes"></div>
    <div class="row">
      <form th:action="@{/ordencompra/form}" th:object="${ordenCompra}" method="post">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header pb-0">
            <div class="d-flex align-items-center">
              <p class="mb-0">Creación Orden de Compra</p>
            </div>
          </div>
          <div class="card-body">
              <input type="hidden" th:value="${ordenCompra.id}" name="proveedorId">
              <p class="text-uppercase text-sm">Información del Proveedor</p>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="form-control-label">Ruc</label>
                    <input type="text" th:field="*{proveedor.ruc}" class="form-control" disabled/>
                  </div>
                </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="form-control-label">Telefono</label>
                  <input type="text" th:field="*{proveedor.telefono}" class="form-control" disabled/>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="form-control-label">Estado</label>
                  <input type="text" th:field="*{proveedor.estado}" class="form-control" disabled/>
                </div>
              </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label">Dirección</label>
                    <input type="text" th:field="*{proveedor.direccion}" class="form-control" disabled/>
                  </div>
                </div>
            </div>
              <hr class="horizontal dark">
          </div>
        </div>
      </div>
      <div class="col-md-10 col-sm-10 mx-auto my-4">
          <div class="card my-sm-5 my-lg-0">
            <div class="card-header text-center">
              <div class="row justify-content-between">
                <div class="col-md-4 text-start">
                  <h6>
                   Información de orden de compra :
                  </h6>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label">Estado</label>
                    <select th:field="*{estado}" id="estado" class="form-control" disabled>
                      <option th:value="Creada" th:text="Creada" selected></option>
                      <option th:value="Aprobada" th:text="Aprobada"></option>
                      <option th:value="Enviada" th:text="Enviada"></option>
                      <option th:value="Recibida" th:text="Recibida"></option>
                    </select>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('estado')}"
                           th:errors="*{estado}"></small>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label">Fecha Llegada :</label>
                    <div class="position-relative">
                      <input type="date" class="form-control" th:field="*{fechaLLegada}" placeholder="Fecha de Legada"
                             th:errorclass="'form-control alert-danger'">
                      <small class="form-text text-danger" th:if="${#fields.hasErrors('fechaLLegada')}"
                             th:errors="*{fechaLLegada}"></small>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label">Descripción(Opcional)</label>
                    <div class="position-relative">
                      <textarea type="text" class="form-control" th:field="*{descripcion}" placeholder="Descripcion de la orden"></textarea>
                    </div>
                  </div>
                </div>

            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <div class="form-group row">
                    <label for="buscar_producto" class="form-control-label"
                           th:text="'Buscar Producto'"></label>
                    <div class="col-sm-12">
                      <input type="hidden" th:value="${ordenCompra.proveedor.id}" name="proveedorid" id="proveedorid">
                      <input type="text" name="buscar_producto" id="buscar_producto"
                             class="form-control" />
                    </div>
                  </div>

                  <table th:replace="ordenescompra/item-producto :: itemsProducto"></table>

                  <div class="table-responsive border-radius-lg">
                    <table id="cargarItemsProducto" class="table text-right">
                      <thead class="bg-default">
                      <tr>
                        <th scope="col" class="pe-2 text-start ps-2 text-white">NOMBRE</th>
                        <th scope="col" class="pe-2 text-white">PRECIO</th>
                        <th scope="col" class="pe-2 text-white" colspan="2">CANTIDAD</th>
                        <th scope="col" class="pe-2 text-white">TOTAL</th>
                        <th scope="col" class="pe-2 text-white">ELIMINAR</th>
                      </tr>
                      </thead>
                      <tbody>
                      </tbody>
                      <tfoot>
                      <tr>
                        <th></th>
                        <th></th>
                        <th class="h5 ps-4" colspan="2">Total :</th>
                        <th colspan="1" class="text-right h5 ps-4" id="gran_total"></th>
                      </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer mt-md-5 mt-4">
              <div class="row">
                <div class="col-lg-5 text-left">
                  <h5>Recuerda :</h5>
                  <p class="text-secondary text-sm">Estas ordenes estaran en estado "Creadas" el cual se debe modificar cuando se apruebe</p>
                </div>
                <div class="col-lg-7 text-md-end mt-md-0 mt-3">
                  <a th:href="@{'/proveedor/listar'}" class="btn btn-danger">Volver</a>
                  <button type="submit" class="btn btn-success ">Guardar</button>
                </div>
              </div>
            </div>
          </div>
      </div>
      </form>
    </div>
    <!-- Footer -->
    <footer th:replace="layout/layout :: footer"></footer>
    <!-- End Footer -->
  </div>
</main>

<th:block th:replace="layout/layout :: scripts">

</th:block>
<th:block layout:fragment="page-scripts">
  <script th:replace="ordenescompra/js/autocomplete-productos :: javascript"></script>
</th:block>
</body>

</html>

